<br>
<table id="report_table" class="table table-striped">
  <thead>
    <tr>
      <th>邮件组名</th>
      <th>邮件总数</th>
      <th>打开人数</th>
      <th>独立图表分析</th>
      <th>打开邮件名单</th>
    </tr>
  </thead>
  <tbody>
    <% @isFirst = true %>
    <% @campaign_track_report.each do |report| %>
      <tr>
        <td><%= report[0] %></td>
        <td><%= report[1] %></td>
        <td><%= report[2] %></td>
        <td><%= link_to 'Report', {:controller=>'report',:action=>'track',:campaign_id => report[3] }, :remote => false, :class => 'btn btn-mini btn-primary' %></td>
        <td><%= link_to 'List Report', {:controller=>'report',:action=>'track_list',:campaign_id => report[3] }, :remote => false, :class => 'btn btn-mini btn-primary' %></td>
      </tr>
      <% end %>
  </tbody>
</table>
      


