<%= form_for [@template, @entry], remote: true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <%= render :partial => "common/form_error", :locals => { model: @entry } %>

	<tr>
		<td><%= f.text_field :name, :class => 'text_field' %></td>
		<td><%= f.text_field :default_value, :class => 'text_field' %></td>
		<td><%= f.submit nil, :class => 'btn btn-primary' %>
      <a onclick="$('#<%= dom_id @entry.template %> .template_edit<%= dom_id @entry %>').addClass('hidden');$('#<%= dom_id @entry %>').removeClass('hidden');", class='btn'>Cancel</a></td>
	</tr>
  </fieldset>
<% end %>
