<div id="<%= dom_id template %>" class="box" >
  <div class="template_info">
    <h3 style="display:inline"><%= template.name %> - <h5 style="display:inline"><%= template.file_name %></h5></h3>
    <div class="btn-group" data-toggle="buttons-radio" style="float:left" >
		<button class="btn btn-mini btn-primary <%= template.img_url.to_i == 1 ? 'active' : ''%>" onclick= "imgurl('<%= template.id%>_1');">img</button>
		<button class="btn btn-mini btn-primary <%= template.img_url.to_i == 2 ? 'active' : ''%>" onclick="imgurl('<%= template.id%>_2');">url</button>
	</div>
    <div style="float:right" class="title">
      <a onclick="$('#<%= dom_id template %> .sz').toggleClass('hidden');return false;", class='btn btn-mini'>收起/展开</a>
      <a onclick="$('#<%= dom_id template %> .source').toggleClass('hidden');return false;", class='btn btn-mini'>Source</a>
      <a onclick="$('#<%= dom_id template %> .display').toggleClass('hidden');return false;", class='btn btn-mini'>Display</a>
      <%= link_to 'Edit', edit_template_path(template), :class => 'btn btn-mini', remote: true %>
      <%= link_to 'Add a Entry', new_template_entry_path(template.id), :class => 'btn btn-mini', remote: true %>
      <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', remote: true %>
    </div>
  </div>
  <div class="sz hidden entries_info">
    <% has_entries = template.entries && template.entries.present? %>
    <table class="table" style="display:<%= has_entries ? 'table' : 'none' %>">
      <thead>
        <tr>
          <th>Name</th>
          <th>Default Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render template.entries if has_entries %>
      </tbody>
    </table>
  </div>
  <div class="source hidden">
    <pre><%= IO.readlines(Rails.root.join('lib/emails', "#{template.file_name}.html.erb")).join("").strip %></pre>
  </div>
  <div class="template_form">
  </div>
  <div class="display hidden">
  	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab<%=template.id%>1" data-toggle="tab">code</a></li>
	    <li><a href="#tab<%=template.id%>2" data-toggle="tab">html</a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab<%=template.id%>1">
	      <div class="control-group">
	        <div class="controls">
	          <pre><%= display_email(template.id,template.img_url) %></pre>
	        </div>
	      </div>
	    </div>
	    <div class="tab-pane" id="tab<%=template.id%>2">
	      <div class="control-group">
	        <div class="controls">
	          <pre><%= display_email(template.id,template.img_url).html_safe %></pre>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>  
  </div>
</div>
