<!--单条模板-->
<div class="js-stream-item stream-item" id="<%= dom_id template %>" data-item-type="tweet" media="true"> 
	<div class="stream-item-content tweet" id=<%="l-" + template.id.to_s %> data-is-reply-to="false" >
		<div class="focus-content">
			<div class="tweet-row">
			    <h3 style="display:inline"><%= template.name %> - <h5 style="display:inline"><%= template.file_name %></h5></h3>
			    <div class="btn-group" data-toggle="buttons-radio" style="float:left; display:none" >
					<button class="btn btn-mini btn-primary <%= template.img_url.to_i == 1 ? 'active' : ''%>" onclick= "imgurl('<%= template.id%>_1');">img</button>
					<button class="btn btn-mini btn-primary <%= template.img_url.to_i == 2 ? 'active' : ''%>" onclick="imgurl('<%= template.id%>_2');">url</button>
				</div>
			</div>
			<div class="tweet-row">
  			  <a data-toggle="modal" href="#myModal1<%= template.id %>" class='btn btn-mini'>参数列表</a>
		      <a data-toggle="modal" href="#myModal2<%= template.id %>" class='btn btn-mini'>模板代码</a>
		      <a data-toggle="modal" href="#myModal3<%= template.id %>" class='btn btn-mini btn-info'>预览</a>
		      <%= link_to '修改', edit_template_path(template), :class => 'btn btn-mini btn-primary', remote: true %>
		      <%= link_to '新增参数', new_template_entry_path(template.id), :class => 'btn btn-mini', :style => 'display:none', remote: true %>
		      <%= link_to '删除', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', remote: true %>
			</div>

        </div>
	</div>
  <div id="myModal1<%= template.id %>" class="modal fade hidden">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><h2><%= template.name %></h2></h3>
    </div>
    <div class="modal-body">
      <div class="sz entries_info">
      <% has_entries = template.entries && template.entries.present? %>
        <table class="table" style="display:<%= has_entries ? 'table' : 'none' %>">
          <thead>
            <tr>
              <th>参数名</th>
              <th>值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <%= render template.entries if has_entries %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="myModal2<%= template.id %>" class="modal fade hidden">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><h2><%= template.name %></h2></h3>
    </div>
    <div class="modal-body">
      <div class="source">
        <pre><%= IO.readlines(Rails.root.join('lib/emails', "#{template.file_name}.html.erb")).join("").strip %></pre>
      </div>
    </div>
  </div>
  <div class="template_form"></div>
  <div id="myModal3<%= template.id %>" class="modal fade hidden">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><h2><%= template.name %></h2></h3>
    </div>
    <div class="modal-body">
      <div class="display">
        <div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab<%=template.id%>1" data-toggle="tab">网页邮件</a></li>
	    <li><a href="#tab<%=template.id%>2" data-toggle="tab">源代码</a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="tab<%=template.id%>1">
                <%= field_set_tag do %>
	    	<%= display_email(template.id,template.img_url).html_safe %>
                <% end %>
	    </div>
	    <div class="tab-pane" id="tab<%=template.id%>2">
	      <div class="control-group">
	        <div class="controls">
	          <pre><%= display_email(template.id,template.img_url) %></pre>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>  
  </div>
	
	
</div>
<!--单条模板 结束-->       

