<!--发送活动外包装 -->
<div class="stream-manager js-stream-manager-container">
	<div class="js-stream-manager" id="profile-stream-manager">
		<div class="stream-title">
			<%=@where%> 
			<br/>
			<%=@where1%>
		</div>
		<div class="stream-container">
			<div class="stream ">
				<div class="js-stream-items stream-items" id="stream-items-id">
				<% if @cam_list != nil && @cam_list != "" %>
		  			<% @cam_list.each do |c| %>
		  			  <% @c_summery = get_campaign_summery(c.id) %>
		  			<!--单条发送活动 -->
			  		<div class="js-stream-item stream-item" id=<%="cl" + c.id.to_s %> data-item-type="tweet" media="true"> 
		    			<div class="stream-item-content tweet" id=<%="l-" + c.id.to_s %> data-is-reply-to="false" >
		      				<div class="tweet-image" >
		      					<%= high_chart("chart" + @c_summery[:id].to_s , @c_summery[:pie]) %>
				      		</div> 
				 			<div class="tweet-content">
    							<div class="tweet-row">
								  <span class="campaign-name">
								    <%=h @c_summery[:name] %>
								    <%= c.created_at.strftime("%y/%m/%d") %>
								  </span>
				   				</div>
				   				<div class="tweet-row">
				      			  <div class="tweet-text js-tweet-text">
				      			  	总发送量：<%=h @c_summery[:send_totle] %>
				      			  </div>
				   				</div>
				   				<div class="tweet-row">
				      			  <div class="tweet-text js-tweet-text">
				      			  	到达量：<%=h @c_summery[:send_reach] %>
				      			  </div>
				   				</div>
				   				<div class="tweet-row">
				      			  <div class="tweet-text js-tweet-text">
				      			  	到达率：<%=h @c_summery[:back_hard] * 100 %>%
				      			  </div>
				   				</div>
				   				<div class="tweet-row">
				      			  <div class="tweet-text js-tweet-text">
				      			  	打开率：<%=h @c_summery[:back_soft] * 100 %>%
				      			  </div>
				   				</div>
					        </div>
						</div>
					</div>
					<!--单条发送活动 结束-->       
		  			<% end %>
		  		<% end %>
		  		</div>
			</div>
		</div>
	</div>
</div>