<tr id="<%= dom_id campaign %>">
  <td><%= campaign.name %></td>
  <td><%= campaign.subject %></td>
  <td><%= campaign.template.try(:name) %></td>
  <td><%= campaign.click.count %></td>
  <td><%= campaign.track.count %></td>
  <td>
    <%= link_to 'Deliver', deliver_campaign_path(campaign.id), :class => 'btn btn-mini btn-primary', :remote => true %>
    <%= link_to 'Edit', edit_campaign_path(campaign), :class => 'btn btn-mini', :remote => true %>
    <%= link_to 'Report', {:controller=>'report',:action=>'campaign',:id=>campaign.id}, :class => 'btn btn-mini btn-primary', :target => '_blank' %>
    <%= link_to 'Destroy', campaign_path(campaign), :method => :delete,
      :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger', :remote => true %>
  </td>
</tr>
